body{
    font: 20px Arial,sans-serif;
}

.navbar{
    background-color:#5DADE2;
}

.quem-somos{
    background-color: #76D7C4;
    color: white;
}

.margin{
    padding-bottom: 50px;
}
.parceiros{
    background-color: #82E0AA;
}